@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
:root {
  --primary-color: #00973f;
  --normal-text: #465b52;
  --secondary-color: #dfdfdf;
  --pureWhite-color: #fff;
  --lightBlack-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
}

h1 {
  line-height: 5rem;
  font-size: 5rem;
  color: var(--lightBlack-color);
}

h2 {
  line-height: 4rem;
  font-size: 4rem;
  color: var(--lightBlack-color);
}

h4 {
  font-size: 2rem;
  color: var(--lightBlack-color);
}

h6 {
  font-size: 1.6rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  color: var(--normal-text);
}

body {
  width: 100%;
}
section#header {
  position: sticky;
  top: 0;
}
#header {
  box-shadow: 0 0 5px rgb(124, 124, 124);
  align-items: center;
  background-color: #E3E6F3;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 60px;
  width: 100%;
  z-index: 9999;
}
.brandLogo img {
  width: 7rem;
}
#header button {
  order: 2;
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
}
#header i {
  font-size: 2rem;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  position: relative;
}

#navbar li a {
  padding-right: 20px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--lightBlack-color);
  transition: all 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  align-items: flex-start;
  background-color: var(--primary-color);
  bottom: -4px;
  content: "";
  display: flex;
  flex-direction: column;
  height: 2px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 30%;
}

/* home Page (hero) */
#hero {
  align-items: center;
  background-image: url("../img/hero4.png");
  background-size: cover;
  background-position: inherit;
  display: flex;
  height: 70vh;
  padding: 0 6%;
  width: 100%;
  line-height: 5rem;
}
#hero button {
  margin-top: 1rem;
}
.btn {
  padding: 1rem 1.6rem;
  border: transparent;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.3rem;
  border-radius: 5px;
}
.btnPrimary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
.btnPrimary:hover {
  color: var(--pureWhite-color);
  background-color: #088178;
}
.btnSecondary {
  color: var(--lightBlack-color);
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
}
.btnSecondary:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
/* Shop Page */
#shop {
  width: 90%;
  margin: auto;
}
#shop > h2 {
  text-align: center;
  margin: 1.6rem auto;
  white-space: nowrap;
  font-size: 2.5rem;
  color: var(--lightBlack-color);
  border-bottom: 3px solid #088178;
  width: 50%;
}
.shopContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-top: 2rem;
  margin-bottom: 2rem;
  column-gap: 1rem;
}
.shopItem {
  margin: 2rem auto;
  background-color: #384e58;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;
  max-width: max-content;
  overflow: hidden;
  width: 180px;
  height: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.itemContent {
  height: 285px;
}
.imgBox {
  height: 180px;
  background-color: var(--pureWhite-color);
}
.itemContent h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--pureWhite-color);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
  line-height: 2rem;
}
.itemContent img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 180px;
  position: relative;
}
.badge {
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  color: var(--pureWhite-color);
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  width: 5rem;
  justify-content: center;
  padding: .5rem 1rem;
  position: absolute;
  right: 16px;
  top: 165px;
}
.badgeNew {
  background-color: red;
}
.badgeNew::after {
  content: 'New';
}
.badgePupolar {
  background-color: var(--primary-color);
}
.badgePupolar::after {
  content: 'Popular';
}
.badgeUntaged {
  background-color: steelblue;
}
.badgeUntaged::after {
  content: 'Untaged';
}
.itemContent p {
  margin: 0;
  padding-bottom: 1.4rem;
  font-size: 1.6rem;
  color: var(--pureWhite-color);
}
.itemContent p span {
  color: wheat;
  font-size: 1.2rem;
  text-decoration: line-through;
}
.itemBtn {
  gap: 0 1rem;
  display: flex;
  justify-content: space-around;
}
.seeMore {
  white-space: nowrap;
  bottom: 1rem;
  padding: 1rem 2.5rem;
  background-color: var(--secondary-color);
  font-size: 1.5rem;
  color: var(--lightBlack-color);
  text-decoration: none;
  border-radius: 5px;
}
/* Single Product */

/* Blog Page */

/* About Page */

/****** Contact Page ********/
.contactArea {
  background-color: #384E58;
  padding: 3.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactdetails{
  margin-left: 200px;
}

.contactdetails h2{
  margin-bottom: 30px;
  color: #D1D1D1;
}

.contactdetails>i{
  color: #719aad;
  font-size: 15px !important;
  padding-bottom: 20px;

}

.contactdetails span{
  font-size: 15px;
  font-weight: bold;
  color: #7294a3;
  margin-left: 10px;
}

.contact_icon{
margin-top: 10px;
}

.contact_icon i{
  cursor: pointer;
  font-size: 2.5rem;
  color: #D1D1D1;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contact_icon i:hover{
  color: #000;
}

.contactFrom {
  padding: 0 2rem;
  width: 50%;
  border: 1px solid var(--pureWhite-color);
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contactHeading {
  text-align: center;
  margin-bottom: 2rem;
}
.contactHeading h2 {
  color: var(--pureWhite-color);
  font-size: 2rem;
}
.contactHeading p {
  color: #7294a3;
  font-size:initial;
  font-weight: bolder;
}
.contactFrom form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.contactFrom label {
  font-size: 1.8rem;
  color: white;
}
.contactFrom input {
  align-items: center;
  min-width: 50%;
  margin-bottom: 1rem;
  padding: 8px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--pureWhite-color);
  font-size: 2rem;
  color: var(--pureWhite-color);
  border: none;
  border-bottom: 1px solid #fff;
  ;
}
.contactFrom button {
  width: 50%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 20px;  
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight:bolder;
  border-top-left-radius:30px ;
  border-bottom-right-radius:30px ;
}
.contactFrom button:hover{
  background-color: #209652;
}

/****** Contact Page ********/

/* Footer page */
footer {
  box-shadow: 0 0 2px var(--lightBlack-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--secondary-color);
}
footer p, footer a {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
  color: black;
  text-decoration: none;
}

::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 660px) {
  #hero {
    line-height: 3.6rem;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero h2 {
    font-size: 2.4rem;
  }
  #hero h4 {
    font-size: 1.6rem;
  }
  #header {
    height: 45px;
    padding: 1rem 2.5rem;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--secondary-color);
  }
  #navbar li {
    margin-top: 2rem;
  }
  #navbar li a{
    font-size: 2rem;
  }
  #navbar {
    background-color: #bcc0ce;
    width: 100%;
    gap: 3rem;
    top: 45px;
    position: fixed;
    justify-content: start;
    padding-top: 2rem;
    flex-direction: column;
    height: 100vh;
    right: -100%;
    visibility: hidden;
    opacity: 0;
    transition: right 0.5s ease;
    z-index: 999;
  }
  #header button {
    display: block;
  }
  #navbar.show {
    visibility: visible;
    opacity: 1;
    right: 0%;
  }
  .itemContent h2 {
    font-size: 1.6rem;
  }
  .contactHeading p {
    font-size: 1.4rem;
  }
  .contactFrom label {
    font-size: 1.6rem;
  }
  .contactFrom input {
    font-size: 1.6rem;
  }

  .contactArea{
    min-width: 90%;
  } 
  #shop {
    width: auto;
  }
  #shop > h2 {
    font-size: 2rem;
    width: 80%;
  }
  footer p, footer a {
    font-size: 1.3rem;
  }
}
